@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.app {
  padding: 50px;
}

.card {
  padding: 25px 15px;
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 5px 3px #f8f5f5;
  box-shadow: 3px 3px 5px 3px #f8f5f5;  
}

.card .funds-props {
  display: flex;
}

.card .prop {
  flex-grow: 1;
  flex-basis: 0;
  list-style: none;
  text-align: left;
}

.card .prop p {
  color: #888;
  margin-bottom: 0.4rem;
}

.card .prop h5 {
  letter-spacing: 1px;
  font-weight: bold;
}

.card .prop .return{
  color: #43803d;
}

.loader-image {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.checked {
  color: orange;
}